/*fonts*/
.errorborder{border:1.33px solid #F96F6F !important}
#status{
    font-family: Gotham-Normal,sans-serif;
    color: #F96F6F;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    src: url('./../../fonts/gotham-black.ttf') format('truetype')
}
@font-face {
    font-family: 'Gotham-ExtraLight';
    font-style: normal;
    font-weight: 400;
    src: url('./../../fonts/gotham-extralight.otf') format('opentype')
}
@font-face {
    font-family: 'Gotham-Medium';
    font-style: normal;
    font-weight: 400;
    src: url('./../../fonts/gotham-medium.otf') format('opentype')
}
@font-face {
    font-family: 'Gotham-Light';
    font-style: normal;
    font-weight: 400;
    src: url('./../../fonts/Gotham-Light.otf') format('opentype')
}
@font-face {
    font-family: 'GOTHAM-LIGHT';
    font-style: normal;
    font-weight: 400;
    src: url('./../../fonts/GOTHAM-LIGHT.TTF') format('opentype')
}



/*fonts*/

/*login form*/
@media only screen and (orientation : landscape) 
{ 

}
.div1 {
    display:flex;
    
    height:100vh;
    background-color:#1E1E1E;
    justify-content: center;
}
.div1 img{
   align-self:center;
   width:50%;
}

.div2{
    height:540px;
    background-color:#FFFFFF;
    width:548px;
}
.container{
    margin-left:0px;
    margin-left:0px;
}
/* .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    padding-left:0px;
    padding-right:0px;
} */
ul.loginNav{
    list-style:none;
    padding-top:35px;
    position:absolute;
    right:77px;
}
ul.loginNav li{
    display:inline;
    padding-right:30px;
    opacity:0.5;
}
ul.loginNav li:hover,active{
    
    opacity:100%;
}
ul.loginNav li a{
    text-decoration: none;
    color:#1E1E1E;
    
    font-family:Gotham-Medium,sans-serif;
    
}
ul.loginNav li.active{
    
    opacity: 1;
    
    
}
ul.loginNav li:hover{
    
    opacity: 1;
    
    
}
.login-input1-signup{
    position:absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    color:#1E1E1E;
    font-size:20px;
    font-family:Gotham;
    top:50%;
    left:50%;
    margin-right:-50%;
    transform: translate(-50%,-50%)
}
.login-input1-signup form{
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        padding:0 25.7%;
}
.login-input-signupform input{
    
       
        border-radius:35px;
        margin-top:16px;
        height:40px !important;
        text-align: unset;
        padding-left:13px;
       
}
#fn{
    border:1.33px solid #1E1E1E;
}
#ln{
    border:1.33px solid #1E1E1E;
    left:53%;
}
#email{
    border:1.33px solid #1E1E1E;
}
#phone{
    border:1.33px solid #1E1E1E;
}
#signup-password{
    border:1.33px solid #1E1E1E;
}


.login-sidetext3 a{
    position:relative;
    font-size:12px;
    font-family:Gotham-Medium;
    opacity:1;
    text-decoration: none;
    color: #F96F6F !important
    
}
.login-sidetext-container{
    display:flex;
    width:100%;
    justify-content: flex-end;
}
.login-input-signupform button{
    margin-bottom:16px;
    width:100%;
    border-radius:35px;
}
.form-span{
    color:#EBEBEB;
    font-family:Gotham-ExtraLight,sans-serif;
    font-size:12px;
}
/*login form*/

/*validation*/

.demoForm {
	width: 500px;
	margin: auto;
}

/*validation*/

/*signup form*/
.button-signupform{
    margin-top:16px;
}
.name-signupform{
    width:100%;
    position:relative;
    display: flex;
}
.name-signupform input{
   width:46.5%;
   position:absolute;
   
}
.name-signupform input:nth-child(1){
    
    left:0;
    bottom:0;
  
    
 }
 .name-signupform input:nth-child(2){
    right:0;
    bottom:0;
    
    
 }
.login-input-signup-signup input{
    font-family:Gotham-Normal,sans-serif !important;
}
.login-input-signup-signup select,Select{
    font-family:Gotham-Normal,sans-serif !important;
}
.login-input-signup-signup button span{
    font-family:Gotham-Normal,sans-serif !important;
    color:#ffffff !important;
}
.login-input-signup-signup .Select-menu {
    height: 200px !important;
    font-family:Gotham-Normal,sans-serif !important;
    overflow-y: auto;
  }
  .signup-input button{

  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.signup-select-select{
    width:100%;
    border:1.33px solid #1E1E1E;
    border-radius:35px;
    height:40px;
    margin-top:16px;
    padding-left:6px;
}
.selectstate{
    margin-top:0px;
}
select{
    border:unset !important;
}
  .signupSelect{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    border-radius: 35px;
    border: 1.33px solid #1E1E1E;
    pointer-events: none;
  }
  .Select{
    margin-top: 15px !important;

  }
  .Select div{
      border-bottom:unset !important;
     
    
  }
  .Select div:nth-child(1){
    height: unset;
   
  
}
  .Select-value-label{
    position: relative;
    margin-top: -6px;
    margin-left: 5px;
    display: block;
  }
 

/*sign up form alert*/

.errorfn{
    position: absolute;
    right: -25px;
    bottom: 10px;
}
.name-signupform{
    width:100%;
    position:relative;
    margin-top:25px;
}


.email-signupform{
    width:100%;
    position:relative;
}
.error{
    position:absolute;
    top:32%;
    right:-27px;
}


.phone-signupform{
    width:100%;
    position:relative;
}

.password-signupform{
    width:100%;
    position:relative;
}

.reffer-signupform{
   
   
    width: 100%;
    border: 1.33px solid #1E1E1E;
    border-radius: 35px;
    height: 40px;
    margin-top: 16px;
    padding-left: 6px;
    
}

#warning-signup{
    width:20px;
    height:20px;
    display: none;
    position:absolute;
    right:-25px;
}
#warning-signup1{
    width:20px;
    height:20px;
    display: none;
    position:absolute;
    right:-25px;
}
#warning-signup2{
    top:43%;
    width:20px;
    height:20px;
    display: none;
    position:absolute;
    right:-25px;
}
#warning-signup3{
    top:47%;
    width:20px;
    height:20px;
    display: none;
    position:absolute;
    right:-25px;
}
#warning-signup4{
    width:20px;
    height:20px;
    display: none;
    position:absolute;
    right:-28px;
    top:46%;
}
#warning-signup5{
    width:20px;
    height:20px;
    display: none;
    position:absolute;
    right:-28px;
    top:46%;
}
.button-signupform{
    height:40px !important;
}
select{
    border: 1.33px solid #1E1E1E;
    border-radius: 35px;
    margin-top: 16px;
    height:40px !important;
}
Select {
    margin-top:16px;
}
.login-input-signup-signup select, Select{
    padding-left:8px;
}
.Select div{
    padding-left:6px;
   
}
.login-input1-signup{
    top: 50% !important;
    margin-right: -50%;
    transform: translate(-50%,-50%) !important;
}
.login-input-signup-signup select, Select{
    font-family:Gotham-Medium,sans-serif !important;
    
}
.Select-placeholder, .Select--single > .Select-control .Select-value{
    font-family:Gotham-Medium,sans-serif !important;
}
.Select >div:nth-child(1){
    border:1.33px solid #1E1E1E !important;
}
.Select-control{
    
    border-radius: 35px !important;
    height: 40px !important;
}
.Select-menu-outer{
    border:unset !important;
}
.Select div{
    font-family:GOTHAM-LIGHT,sans-serif;
    margin-top:0px;
    font-size:11px;
  
    
}
select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
    height: 30px !important;
    border-radius: 2.5em;
    margin-top: 1%;
}
.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label, .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label{
    font-family: Gotham-Normal,sans-serif;
    font-size: 10px;
    color: #969696;
}
.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label, .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label{
    font-family: Gotham-Normal,sans-serif !important;
    font-size: 11px !important;
}
.Select-input {
    height: 34px;
    padding-left: 29px !important;
    padding-right: 10px;
    margin-top: -16px !important;
}
/*sign up form alert*/

/*signup form*/
/*portrait mode*/
@media only screen and (orientation : portrait){
    .login-input-signup-signup{
        min-height: 100vh !important;
        display: flex !important;
        justify-content: center !important;
    }
    .signup-input{
        align-self: center !important;
    }
    .login-input1-signup{
        -webkit-transform:translate(-50%) !important;

    }
    ul.loginNav{
        left: 50% !important;
        margin-right: -50% !important;
        transform: translate(-50%) !important;
        right:unset !important;
    }
    .signup-input{
        padding-top:150px !important;
    }
    .loginNav li a{
            font-size: 18px;
    }
    .login-input-signup-signup{
        display:block !important;
    }
}
/*portrait mode*/
/*landscape mode*/
@media only screen and (orientation : landscape) and (max-width : 950px) {
    .login-input1-signup{
        transform:translate(-50%,20%) !important;
    }
    .loginNav li a{
        font-size: 18px;
}
}
/*landscape mode*/

/* margin-top: 8px;
box-sizing: content-box;
margin-left: -23px;
width: 5px; */

.Select-placeholder{
    position: absolute;
    left:10px;
    top: -5px;
}
#clg{
    margin-top: 8px;

    margin-left: -31px;
}

.signup-container{
    padding-left:0px;
}

.login-sidetext3{
    font-family:Gotham-Extralight,sans-serif;
    font-size:14px;
}
.login-sidetext-container2{
    display: flex;
    width:100%;
    justify-content: flex-end;
}

/*signup form*/
.select-signup{
    width:99%;
    box-shadow:unset !important;
    background-color:unset;
}
.select1-signup{
    width:99%;
}
/*signup form*/

/*safari bug*/
/* .signup-container .col-lg-5 {
    max-width:41%;
} */
.signup-input input{
    line-height: unset !important;
}
/*safari bug*/
@media only screen and (orientation : landscape) and (min-width : 968px) {
    .signup-container .col-lg-5{
        max-width:40.667%;
    }
}